.home-container{
    width: 100%;
}

.home-content {
    margin: 0px auto;
    padding-top: 20px;
}

.snack-bar{
    width: 100%;
    background-color: #114388;
}

.snack-bar-content{
    max-width: 1200px;
    margin: 0px auto;
    color: #fff;
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snack-bar-text-item:first-child{
    font-size: 20px;
    font-weight: 600;
}

.snack-bar-text-item:first-child span:nth-child(2) {
    color: #fbd657;
    margin-right: 6px;
}

.snack-bar-text-item span:first-child{
    font-size: 20px;
    font-weight: 600;
    margin-right: 6px;
}

.snack-bar-text-item{
    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}