.modal-content{
    padding: 50px 40px;
}

.content-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.content-1 span{
    font-size: 22px;
    font-weight: 600;
}

.content-2{
    text-align: center;
}