.profile-container{
    width: 100%;
    padding-top: calc(var(--height-header) + 40px);
    background-color: #f2f2f2;
}

.profile-content{
    max-width: 1200px;
    margin: 0px auto;
}

.menu-bar {
    padding-right: 20px;
}

.menu-bar-1{
    background-color: #fff;
    margin-bottom: 20px;
}

.info-short{
    padding: 10px;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.menu-bar-2 {
    background-color: #fff;
}

.menu-bar-item{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: block;

    &:hover{
        color: var(--primary-color);
        background-color: rgba(0, 0, 0, .15);
    }
}

.content-right{
    background-color: #fff;
}

.active{
    font-weight: 700;
    border-left: 2px solid var(--primary-color);
    color: var(--primary-color);
}

