.container{
    width: 100%;
    margin: 40px 0px;
}

.content{
    max-width: 1200px;
    margin: 0px auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.title{
    font-weight: 800;
}

.title-icon{
    font-size: 30px;
    color: var(--primary-color);
    margin-left: 10px;
}   

.image-wrapper{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.image{
    width: 100%;
    transition: all 0.2s ease;
    
    &:hover {
        transform: scale(1.1);
    }
}

.star-logo{
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    top: 10px;
    right: 10px;
    width: 50px;
}

.title-item{
    margin-top: 4px;
}

.title-item p{
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 700;
}

.title-item span {
    margin-left: 10px;
}

.star-icon{
    color: var(--primary-color);
}