.form {
    margin-top: 20px;
}

.form-header {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.input-wrapper label{
    font-size: 15px;
    font-weight: 600;
}

.input-wrapper input{
    padding: 10px 14px;
    width: 350px;
    transition: all 0.2s ease;
}

.input-wrapper input:focus{
    outline-color: #136cd1;
}

.input-pass{
    position: relative;
}

.show-pass-icon{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    cursor: pointer;
    padding: 10px 0px;
}

input[type=checkbox]{
    width: 18px;
    height: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.keep-login{
    display: flex;
    align-items: center;
    gap: 4px;
}

.keep-login span{
    font-size: 13px;
}

.keep-login-icon{
    font-size: 13;
    color: #000;
    cursor: pointer;
}

.btn-login{
    margin: 20px 0px;
}

.forgot-pass{
    font-size: 15px;
}

.error-message{
    color: red;
    font-size: 14px;
}
