@import "normalize.css";

:root {
    --primary-color: #f15025;
    --link-color: #1975dc;
    --edit-color: rgb(252, 197, 0);
    --delete-color: #ec4134;
    --height-header: 65px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #000;
}

.underline-red{

    &:hover{
        cursor: pointer;
        text-decoration: underline solid red 1.1px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}